body{
    margin: 0;
    padding: 0;
    font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #1a1d29;
  width: 100%;
  margin-bottom: 40px;
}

header{
    font-size: 30px;
    background-color: transparent;
    display: flex;
    margin-left: 200px;
    width: 60%;
    border-radius: 8px;
    margin-top: 40px;
}

a{
    color: silver;
    text-decoration: none;
    display: flex;
    padding-left:20px;
    font-size: 35px;
}

.totalidade{
    border: solid 3px silver;
    border-radius: 8px;
    background-color: gray;
    margin-left: 200px;
    margin-right: 200px;
}

.titulo{
    font-size: 60px;
    margin-left: 40px;
    margin-top: 40px;
}

.artigoum{
    font-size: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.organização{
    display: flex;
}

aside{
    margin-right: 20px;
    margin-bottom: 20px;
    border: solid 5px silver;
    border-radius: 8px;
    margin-right: 100px;
}

img{
    width: 500px;
    height: 100%;
    border-radius: 6px;
}

.artigodois{
    font-size: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.Redes{
    display: flex;
}

.paragrafo{
    padding-top: 50px;
    margin-left: 20px;
    margin-bottom: 20px;
}
